exeicon ICON "bakermaker.ico"
docs/Errors.md MARKDOWN "docs/Errors.md"
docs/ServerCreation.md MARKDOWN "docs/ServerCreation.md"
docs/ServerInstallText.md MARKDOWN "docs/ServerInstallText.md"
docs/ServerSetup.md MARKDOWN "docs/ServerSetup.md"
docs/SSHAdminKeyGen.md MARKDOWN "docs/SSHAdminKeyGen.md"
docs/Usage.md MARKDOWN "docs/Usage.md"
images/attaching_state.png PNGIMG "images/attaching_state.png"
images/block_device_path.png PNGIMG "images/block_device_path.png"
images/block_volume_performance.png PNGIMG "images/block_volume_performance.png"
images/create_instance.png PNGIMG "images/create_instance.png"
images/freetier_error.png PNGIMG "images/freetier_error.png"
images/icon.png PNGIMG "images/icon.png"
images/instance_create_button.png PNGIMG "images/instance_create_button.png"
images/instance_details.png PNGIMG "images/instance_details.png"
images/instance_pinned_item.png PNGIMG "images/instance_pinned_item.png"
images/iscsi_commands.png PNGIMG "images/iscsi_commands.png"
images/save_private_ssh_key.png PNGIMG "images/save_private_ssh_key.png"
images/shape_canonical_2204_select.png PNGIMG "images/shape_canonical_2204_select.png"
images/shape_ubuntu_select.png PNGIMG "images/shape_ubuntu_select.png"
images/storage_menu_click.png PNGIMG "images/storage_menu_click.png"
commitall.sh SHELLSCRIPT "commitall.sh"
font-bold.ttf TTFFONT "font-bold.ttf"
font-regular.ttf TTFFONT "font-regular.ttf"
gituserinstall.sh SHELLSCRIPT "gituserinstall.sh"
install.sh SHELLSCRIPT "install.sh"
libs.zip ZIPFILE "libs.zip"
setupclient.exe EXECUTABLE "setupclient.exe"